@import url('sidebar.css');
@import url('cards.css');
@import url('form.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: #f5f5f5;
    color: #333;
}

main {
    padding: 30px;
}

 /*sessão para entrar em outras telas */

.section {
    display: none;
    margin-bottom: 30px;
}

 /*Target é uma classe do css que ativa quando o elemento corresponde ao que está na URL após o # */
.section:target {
    display: block;
}

#inicio {
    display: block;
}

.section:target ~ #inicio {
    display: none;
}

